<button (click)="openDialog()" mat-stroked-button color="primary">Challange a freind</button>
<button (click)="wordService.restartGame()" mat-stroked-button color="primary">Restart Game</button>
<button (click)="openDialog2()" mat-stroked-button color="primary">Play with a freind</button>

@for(row of wordService.rows;let rowIndex = $index;track rowIndex){
   <div class="row">
     @for(column of wordService.columns; ; let columnIndex = $index;track columnIndex){
       <div class="cell" #cellRef>
         @if(wordService.userInput.length>=row){
           {{ wordService.userInput[rowIndex][columnIndex]  }}
         }
       </div>
     }
   </div>
 }

 <div class="keyboard">
   <div class="keypad">
     @for(row of keyboardRows; let index = $index; track index;){
       <div [ngClass]="'keys' + (index + 1)" #keyboard >
           @for(key of row;track $index){
             @if(key=='Enter'){
               <button #keys class="keys Enter" (click)="onKeyClick(key)">{{ key }}</button>
             }
             @else if(key=='Backspace'){
               <button #keys class="keys bkspc" (click)="onKeyClick(key)"><svg xmlns="http://www.w3.org/2000/svg" height="24" width="27.5" viewBox="0 0 640 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#FFFFFF" d="M576 64H205.3A64 64 0 0 0 160 82.8L9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3L160 429.3c12 12 28.3 18.8 45.3 18.8H576c35.4 0 64-28.7 64-64V128c0-35.4-28.7-64-64-64zm-84.7 254.1c6.3 6.3 6.3 16.4 0 22.6l-22.6 22.6c-6.3 6.3-16.4 6.3-22.6 0L384 301.3l-62.1 62.1c-6.3 6.3-16.4 6.3-22.6 0l-22.6-22.6c-6.3-6.3-6.3-16.4 0-22.6L338.8 256l-62.1-62.1c-6.3-6.3-6.3-16.4 0-22.6l22.6-22.6c6.3-6.3 16.4-6.3 22.6 0L384 210.8l62.1-62.1c6.3-6.3 16.4-6.3 22.6 0l22.6 22.6c6.3 6.3 6.3 16.4 0 22.6L429.3 256l62.1 62.1z"/></svg></button>
             }
             @else {
               <button #keys class='keys' (click)="onKeyClick(key)">{{ key }}</button>
             }
           }
         </div>
     }
   </div>
 </div>

